{
  margin: 0;
  padding: 0;
}

header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(games_backgrounud_image.jpg);
  height: 100vh;
  background-size: cover;
}

.main-nav{
  padding-right: 10;
  float:right;
  list-style: none;
  margin-top: 30px;
}

.main-nav li{
  display: inline-block;
}

<style>
  .button {background-color: #008CBA;}
</style>

.main-nav li a{
  color: white;
  text-decoration: none;
  padding: 5px 20px
  font-family: sans-serif, cursive;
  font-size: 15px;

}

.main-nav li.active a{
  border: 1px solid white;
}
.mqin-nav li a:hover {
  border: 1px solid white;
}
